@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

/*  font-family: "Permanent Marker", cursive; */
/* font-family: "Honk", system-ui; */



.navbar{
    background-color: black;
    color: #FDFFFC;
    font-family: "Honk", system-ui;
    font-size: 20px;
}

.navbar-brand img{
    height: 50px;
}

.banner{
    height: 850px;
    display: flex;
    float: right;  
    background-color: whitesmoke; 
}

/* nosotros */
.row img{
    width: 200px;
}

/* footer */

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.redes a{
    text-decoration: none;
    color: #FDFFFC;
    letter-spacing: 10px;
    font-size: 20px;
}